<html>
	<head>
		<title>Graph Visualization</title>
	</head>
	<body>
		<applet code="GraphApplet.class"
		 archive="../../GraphApplet.jar"
         width=100% height=100%>
        <param name="graphURL" VALUE="%graphURL%">
        <param name="listURL" VALUE="%listURL%">
        <param name="imageURL" VALUE="%imageURL%">
		</applet>
	</body>
</html>
